spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/patient_manager
    username: dongltbk
    password: donglt
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db-changelog-master.xml
    drop-first: false
  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: -1
      max-request-size: -1

server:
  port: 8100

authorize:
  enable: false

app:
  file-upload:
    folder: C:\Users\AD\Desktop\patient-manager-file\

